
.fancy-header {
    color:rgb( 75,   0, 130) ;
    text-decoration: underline;
}

body { 
	background-color: rgb(224, 255, 255);
	background-image:url('http://res2.windows.microsoft.com/resbox/en/windows/main/69446904-0525-43a1-bc86-775c199eecac_5.jpg');
}

li { 
	list-style: circle;
}

body { 
	font-style: italic; 
}