
.fancy-header {
    color:rgb( 75,   0, 130) ;
    text-decoration: underline;
}

body { 
	background-color: rgb(224, 255, 255);
	background-image:url('http://res1.windows.microsoft.com/resbox/en/windows/main/20c1204a-f4b8-448a-a2e6-9e68dc402284_5.jpg');
}

li { 
	list-style: circle;
}

body { 
	font-style: italic; 
}